# Compiled Object files
*.slo
*.lo
*.o
*.html
*.tsv
*.csv
*.xls
*.pkl
*.png
*.xgmml
*.pyc
*.tar.gz
*.tgz
huang/png/*
huang/csv/*
huang/pcaplots/*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
